---
import TurboFrioLogo from "@icons/turbo-frio-logo.svg"
import MenuIcon from "@icons/menu.svg"
import WhatsappIcon from "@icons/whatsapp-logo.svg"
import PhoneCallIcon from "@icons/phone-call.svg"
import Button from "./button.astro"

const links = [
  {
    label: "Sobre",
    link: "#about",
  },
  {
    label: "Serviços",
    link: "#services",
  },
  {
    label: "Contato",
    link: "#contact",
  },
]
---

<header>
  <div class="container">
    <TurboFrioLogo aria-label="Turbo Frio" />

    <Button
      aria-label="open navigation menu"
      class="menu-button"
      size="icon"
      variant="ghost"
      popovertarget="mobile-nav"
    >
      <MenuIcon aria-hidden />
    </Button>

    <dialog id="mobile-nav" popover>
      <nav>
        <ul>
          {
            links.map(({ label, link }) => (
              <li>
                <a id={`link-${link}`} href={link}>
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <Button size="md" variant="secondary">
        <WhatsappIcon aria-hidden />
        Contato via whatsapp
      </Button>
    </dialog>

    <div class="desktop-nav">
      <nav>
        <ul>
          {
            links.map(({ label, link }) => (
              <li>
                <a id={`link-${link}`} href={link}>
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>

    <ul class="desktop-nav">
      <li class="tel">
        <PhoneCallIcon aria-hidden />
        <a class="tel" href="#"> (82) 99812-8254 </a>
      </li>

      <li>
        <Button size="md" variant="secondary">
          <WhatsappIcon aria-hidden />
          Contato via whatsapp
        </Button>
      </li>
    </ul>
  </div>

  <script>
    const sections = document.querySelectorAll("main [id]")
    const navLinks = document.querySelectorAll("nav a")

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const id = entry.target.id
          const activeLinks = document.querySelectorAll(`[id="link-#${id}"]`)

          if (entry.isIntersecting) {
            navLinks.forEach((link) => link.classList.remove("active"))
            activeLinks.forEach((link) => link.classList.add("active"))
          }
        })
      },
      {
        root: null,
        rootMargin: "0px",
        threshold: 0.6, // the element must be at least 60% visible to be considered active.
      }
    )

    sections.forEach((section) => observer.observe(section))
  </script>
</header>

<style>
  header {
    backdrop-filter: blur(8px);
    background-color: color-mix(in lab, white 40%, transparent);
    border-bottom: solid 1px var(--gray-200);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 28px 16px;
  }

  dialog:popover-open {
    background-color: white;
    border: solid 1px var(--gray-200);
    border-radius: 12px;
    box-shadow:
      0 4px 6px color-mix(in lab, black 10%, transparent),
      0 10px 15px color-mix(in lab, black 10%, transparent);
    margin: 72px 16px 0 auto;
    width: min(calc(100vw - 16px * 2), 356px);
    padding: 16px 20px;
  }

  dialog > button {
    margin-top: 8px;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.desktop-nav {
    align-items: center;
    gap: 20px;
  }

  .desktop-nav,
  ul.desktop-nav {
    display: none;
  }

  a:not([class="tel"]) {
    color: var(--gray-800);
    display: inline-block;

    padding-block: 6px;
    width: 100%;

    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
  }

  a.active {
    color: var(--blue-300);
    font-weight: 700;
  }

  .tel {
    color: var(--sky-600);
    font-size: 0.875rem;
    text-underline-offset: 4px;
  }

  @media (min-width: 640px) {
    dialog:popover-open {
      margin-right: calc((100vw - 640px) / 2 + 16px);
    }
  }

  @media (min-width: 768px) {
    dialog:popover-open {
      margin-right: calc((100vw - 768px) / 2 + 16px);
    }
  }

  @media (min-width: 1024px) {
    header {
      position: sticky;
      top: 0;
    }

    dialog {
      display: none;
    }

    .menu-button {
      display: none;
    }

    ul {
      flex-direction: row;
      gap: 20px;
    }

    .desktop-nav,
    ul.desktop-nav {
      display: flex;
    }
  }
</style>
